{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex items-center justify-between w-4/5 m-auto">
    <!-- Login Form Section -->
    <form method="post" class="w-3/5">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="text-center">
            <div class="py-12 border-b border-gray-200">
                <h1 class="text-6xl pt-12 pb-8">
                    Login
                </h1>
        
                <input 
                    type="username" 
                    value="{{ last_username }}" 
                    name="username" 
                    id="inputUsername" 
                    class="bg-transparent block mt-10 mx-auto border-b-2 w-3/4 h-20 text-2xl outline-none" 
                    placeholder="Username"
                    autocomplete="username"
                    required 
                    autofocus
                >

                <input 
                    type="password" 
                    name="password" 
                    id="inputPassword" 
                    class="bg-transparent block mt-10 mx-auto border-b-2 w-3/4 h-20 text-2xl outline-none" 
                    autocomplete="current-password" 
                    placeholder="Password"
                    required
                >

                <input 
                    type="hidden" 
                    name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button 
                    class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-3/4 mt-10 font-extrabold py-4 px-8 rounded-3xl" 
                    type="submit">
                    Sign in
                </button>
            </div>
        </div>
    </form>

    <!-- Sign Up Button Section -->
    <div class="w-1/5 text-center">
        <div class="py-12">
            <h2 class="text-4xl pb-8">New Here?</h2>
            <a 
                href="{{ path('app_register') }}" 
                class="bg-green-500 text-gray-100 text-lg font-extrabold py-4 px-6 rounded-lg hover:bg-green-600 transition">
                Sign Up
            </a>
        </div>
    </div>
</div>
{% endblock %}
